<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black" style="padding: 15px;">
            <div class="container" style="margin-left: 15px;">
                <div style="margin-right: 15px;"> <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #d55b3e;">DS</i></div>
                @*@Html.ActionLink("Dunwoody Supermarket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-white">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Role", "Index", "Role", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("All Products", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("New Product", "Create", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sale Product", "SaleProduct", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="margin: 0; padding:0;">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </header>
</body>
</html>
<script src="https://kit.fontawesome.com/92e37675b9.js" crossorigin="anonymous"></script>
